<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>EXN Shop</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    :root {
      --primary: {{ couleurs.primary }};
      --secondary: {{ couleurs.secondary }};
    }
  </style>
</head>
<body>
  <div class="background"></div>
  <nav class="navbar">
    <div class="logo">EXN<span>Shop</span></div>
    <div>
      <a href="/">Boutique</a>
      <a href="/panier">Panier</a>
      {% if session.get("admin") %}
      <a href="/admin">Admin</a>
      <a href="/logout">Déconnexion</a>
      {% else %}
      <a href="/login">Admin</a>
      {% endif %}
    </div>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>


