{% extends "base.html" %}
{% block content %}
<h1 class="page-title">Notre Boutique</h1>
<div class="grid">
  {% for id, nom, prix, description, image in articles %}
  <a href="{{ url_for('produit', article_id=id) }}" class="card">
    {% if image %}
      <img src="{{ url_for('static', filename='uploads/' ~ image) }}" alt="{{ nom }}">
    {% endif %}
    <div class="card-body">
      <h3>{{ nom }}</h3>
      <p class="prix">{{ "%.2f"|format(prix) }} €</p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}

